.logo {
  max-height: 15vh;
  padding: 3vh;
}

.title {
  padding: 2vh;
  text-align: center;
  font-size: 2vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.discord-button button {
  margin-top: 2vh;
  font-size: 1.5vh !important;
  background-color: #be333a;
}

.meetup-button button {
  font-size: 1.5vh !important;
  background-color: #f5c03a;
}

.Header {
  padding: 0px 10px;
  font-family: "Source Code Pro", monospace;
  text-align: center;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .MuiToolbar-regular {
    max-height: 10vh;
  }

  img {
    max-height: 7vh;
  }

  .sidebar {
    font-family: "Source Code Pro", monospace;
    padding: 2vh;
  }

  a {
    color: #be333a;
    text-decoration: underline;
  }
}
