.App {
  font-family: "Source Code Pro", monospace !important;
}

.job-board-title {
  padding-top: 25vh;
  text-align: center;
  font-size: 2rem;
}

.joboffer {
  max-width: 20vh;
}

#acuspire-job-board p {
  color: black;
}

#acuspire-jobs-widget {
  font-family: "Source Code Pro", monospace !important;
}

.acuspire-btn-apply {
  font-family: "Source Code Pro", monospace !important;
}

.sponsored p {
  font-size: 2vh;
  font-family: "Source Code Pro", monospace;
}

@media only screen and (max-width: 600px) {
  .sponsored {
    padding-top: 0;
  }

  img {
    max-height: 7vh;
  }

  .App {
    padding-top: 0;
  }

  .Header_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    position: fixed;
    z-index: 1;
  }

  .job-board-title {
    padding-top: 5vh;
  }

  .job-board-title h3 {
    margin-bottom: 0;
  }

  .job-board-title p {
    text-align: right;
    margin-right: 2vh;
  }

  .joboffer {
    max-width: 10vh;
    float: right;
    padding-right: 3vh;
  }
}
