@font-face {
  font-family: "Press Start";
  src: url("./fonts/PressStart2P-Regular.ttf");
}

.App {
  font-family: "Press Start", cursive;
  /* cursor: url("./assets/cursor.png"), auto; */
  padding-top: 30vh;
}

h3 {
  text-align: center;
  padding-bottom: 5vh;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  font-family: "Press Start", cursive;
  text-align: center;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: white;
  z-index: 1;
  width: 100%;
  box-shadow: 10px 10px 8px #888888;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.logo {
  height: 20vh;
  padding: 3vh;
}

.title {
  margin: auto;
  padding: 5vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh;
}

.discord-button button {
  margin-top: 2vh;
  font-size: 0.7rem !important;
  background-color: #be333a;
}

.meetup-button button {
  font-size: 0.7rem !important;
  background-color: #f5c03a;
}
